In [3]:
!pip install pandas openpyxl

Requirement already satisfied: pandas in /Users/hoaithuongtran/ironhack/Week1/lab-dw-pandas/venv/lib/python3.14/site-packages (2.3.3)
Requirement already satisfied: openpyxl in /Users/hoaithuongtran/ironhack/Week1/lab-dw-pandas/venv/lib/python3.14/site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in /Users/hoaithuongtran/ironhack/Week1/lab-dw-pandas/venv/lib/python3.14/site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/hoaithuongtran/ironhack/Week1/lab-dw-pandas/venv/lib/python3.14/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/hoaithuongtran/ironhack/Week1/lab-dw-pandas/venv/lib/python3.14/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/hoaithuongtran/ironhack/Week1/lab-dw-pandas/venv/lib/python3.14/site-packages (from pandas) (2025.2)
Requirement already satisfied: et-xmlfile in /Users/hoaithuongtran/ironhack/Week1/lab-dw-pandas/venv/lib/python3.14/site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /Users/hoaithuongtran/ironhack/Week1/lab-dw-pandas/venv/lib/python3.14/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
!pip install xlrd

Requirement already satisfied: xlrd in /Users/hoaithuongtran/ironhack/Week1/lab-dw-pandas/venv/lib/python3.14/site-packages (2.0.2)

In [2]:
import pandas as pd
df = pd.read_excel("GSAF5.xls")

In [3]:
df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14th October,2025.0,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,Swimming with sharks,Male child,M,14,...,Nurse shark,Kevin McMurray Trackingsharks.com Andy Currie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,...,Tiger or Bull shark,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,...,Bronze whaler?,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,...,unknown 1.2m shark,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,...,Tiger shark 4m,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.tail()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
7045,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
7046,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
7047,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
7048,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
7049,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [5]:
df.shape

(7050, 23)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7050 entries, 0 to 7049
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            7050 non-null   object
 1   Year            7048 non-null   float64
 2   Type            7032 non-null   object
 3   Country         7000 non-null   object
 4   State           6564 non-null   object
 5   Location        6483 non-null   object
 6   Activity        6465 non-null   object
 7   Name            6831 non-null   object
 8   Sex             6471 non-null   object
 9   Age             4056 non-null   object
 10  Injury          7015 non-null   object
 11  Fatal Y/N       6489 non-null   object
 12  Time            3524 non-null   object
 13  Species         3919 non-null   object
 14  Source          7030 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6794 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

In [7]:
df.describe()

              Year  original order
count  7048.000000     6799.000000
mean   1935.722900     3401.152081
std     271.083776     1963.076319
min       0.000000        2.000000
25%    1948.000000     1701.500000
50%    1986.000000     3401.000000
75%    2010.000000     5100.500000
max    2026.000000     6802.000000

In [8]:
## Clean & Analyze Country column

In [32]:
df['Country']

0                 columbia
1                australia
2                australia
3                      usa
4               costa rica
               ...
7045             australia
7046             australia
7047                   usa
7048                panama
7049    ceylon (sri lanka)
Name: Country, Length: 7050, dtype: object

In [33]:
# 50 NAN value
df['Country'].isna().sum()

np.int64(50)

In [26]:
# Lowercase, remove whitespaces countries
df['Country'] = (df['Country'].str.strip().str.lower())

In [27]:
# Remove special characters, like ?, 
df['Country'] = df['Country'].str.replace(r'\?', '', regex=True)

In [28]:
# Number of unique values in column Country
df['Country'].nunique()

209

In [29]:
df['Country'].unique()

array(['columbia', 'australia', 'usa', 'costa rica', 'bahamas',
       'puerto rico', 'french polynesia', 'spain', 'canary islands',
       'south africa', 'vanuatu', 'jamaica', 'israel', 'mexico',
       'maldives', 'philippines', 'turks and caicos', 'mozambique',
       'new caledonia', 'egypt', 'thailand', 'new zealand', 'hawaii',
       'honduras', 'indonesia', 'morocco', 'belize', 'maldive islands',
       'tobago', 'india', 'trinidad', 'coral sea', 'portugal', 'samoa',
       'colombia', 'ecuador', 'cuba', 'brazil', 'seychelles', 'argentina',
       'fiji', 'england', 'japan', 'british overseas territory', 'canada',
       'jordan', 'st kitts / nevis', 'st martin', 'papua new guinea',
       'reunion island', 'china', 'ireland', 'italy', 'malaysia', 'libya',
       nan, 'mauritius', 'solomon islands',
       'st helena, british overseas territory', 'comoros', 'reunion',
       'united kingdom', 'united arab emirates', 'cape verde',
       'dominican republic', 'cayman islands', 'aruba', 'atlantic ocean',
       'greece', 'st. martin', 'france', 'trinidad & tobago', 'kiribati',
       'diego garcia', 'taiwan', 'palestinian territories', 'guam',
       'nigeria', 'tonga', 'scotland', 'croatia', 'saudi arabia', 'chile',
       'antigua', 'kenya', 'russia', 'turks & caicos',
       'united arab emirates (uae)', 'azores', 'south korea', 'malta',
       'vietnam', 'madagascar', 'panama', 'somalia', 'nevis',
       'british virgin islands', 'norway', 'senegal', 'yemen',
       'gulf of aden', 'sierra leone', 'st. maartin', 'grand cayman',
       'liberia', 'venezuela', 'sri lanka', 'uruguay', 'micronesia',
       'caribbean sea', 'okinawa', 'tanzania', 'marshall islands',
       'egypt / israel', 'northern arabian sea', 'hong kong',
       'el salvador', 'angola', 'bermuda', 'montenegro', 'iran',
       'tunisia', 'namibia', 'north atlantic ocean', 'south china sea',
       'bangladesh', 'palau', 'western samoa', 'pacific ocean',
       'british isles', 'grenada', 'iraq', 'turkey', 'singapore',
       'new britain', 'sudan', 'johnston island', 'south pacific ocean',
       'new guinea', 'red sea', 'north pacific ocean',
       'federated states of micronesia', 'mid atlantic ocean',
       'admiralty islands', 'british west indies', 'south atlantic ocean',
       'persian gulf', 'red sea / indian ocean', 'north sea', 'nicaragua',
       'american samoa', 'andaman / nicobar islandas', 'gabon', 'mayotte',
       'the balkans', 'martinique', 'indian ocean', 'guatemala',
       'netherlands antilles', 'northern mariana islands', 'iran / iraq',
       'java', 'central pacific', 'solomon islands / vanuatu',
       'southwest pacific ocean', 'bay of bengal', 'mid-pacifc ocean',
       'slovenia', 'curacao', 'iceland', 'italy / croatia', 'barbados',
       'monaco', 'guyana', 'haiti', 'san domingo', 'kuwait',
       'falkland islands', 'crete', 'cyprus', 'west indies', 'burma',
       'lebanon', 'paraguay', 'british new guinea', 'ceylon', 'ocean',
       'georgia', 'syria', 'tuvalu', 'guinea', 'andaman islands',
       'equatorial guinea / cameroon', 'cook islands', 'peru', 'africa',
       'algeria', 'coast of africa', 'tasman sea', 'ghana', 'greenland',
       'mediterranean sea', 'sweden', 'roatan',
       'between portugal & india', 'djibouti', 'bahrein', 'korea', 'asia',
       'ceylon (sri lanka)'], dtype=object)

In [30]:
# Top 10 countries that have shark attacks
df['Country'].value_counts().head(10)

Country
usa                 2573
australia           1510
south africa         599
new zealand          146
bahamas              141
papua new guinea     136
brazil               122
mexico               107
italy                 72
fiji                  70
Name: count, dtype: int64

In [31]:
## Location column
df['Location'].isna().sum()

np.int64(0)

In [16]:
# Lowercase, remove whitespaces countries
df['Location'] = (df['Location'].fillna('Unknown').str.strip().str.lower())
# Remove spaces between words
df['Location'] = df['Location'].str.replace(r"\s+", " ", regex=True)

In [17]:
# Number of unique values
df['Location'].nunique()

4532

In [18]:
df['Location'].unique()

array(['catagena province', 'cook esplanade thursday island',
       'kangaroo island', ..., 'ocracoke inlet', 'panama bay 8ºn, 79ºw',
       'below the english fort, trincomalee'], shape=(4532,), dtype=object)

In [19]:
df['Location'].value_counts().head(10)

Location
unknown                             567
new smyrna beach, volusia county    198
daytona beach, volusia county        35
cocoa beach, brevard county          33
ponce inlet, volusia county          28
myrtle beach, horry county           22
melbourne beach, brevard county      21
isle of palms, charleston county     18
durban                               18
piedade                              14
Name: count, dtype: int64